.dkmentor {
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #0077FF, #c0ddff);
    display: flex;
    align-items: center;
    justify-content: center;  
}

.square_dkmentor {
    height: 500px;
    width: 1000px;
    background-color: rgba(255, 255, 255, 0.664);
    border-radius: 20px;
    
}

.specialized_input, .select_input, .yearstudy_input, .gpa_input {
    background-color: white;
    color: black;
    width: 400px;
    height: 40px;
    margin-left: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
    margin-bottom: 20px;
    /* -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml,<svg ...></svg>');
    padding: 8px 30px 8px 10px; */
}

/* input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */
.up-down {
    display: flex;
    flex-direction: column; 
    float: left;
    margin-left: 50px;
}

.word {
    margin-left: 10px;
    color: black;
    margin-bottom: 7px;
}

.mentor_button {
    background-color: #3B61CB;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mentor_word {
    font-size: 15px;
}
.out_button {
    
    background-color: #910e0e;
    width: 350px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.out_word {
    font-size: 15px;
}

.out_button, .mentor_button {
    margin-left: 35px;
    margin-top: 70px;
    transition: transform 0.1s ease, background-color 0.2s ease;  
}

.mentor_button:active {
  transform: scale(0.95);
  background-color: #0056b3;
}

.out_button:active {
  transform: scale(0.95);
  background-color: #610202;
}