.main-layout {
    height: calc(100vh - 60px); 
    display: grid;
    grid-template-columns: 250px 1fr; 
}

.content {
    padding: 20px; 
    overflow-y: auto; 
}

.sidebar {
    background-image: linear-gradient(to right, #3B61CB, #3532ce);
    color: #ffffff;
    padding: 20px 0; 
    border-top-right-radius: 10px; 
    border-bottom-right-radius: 10px;
}

.sidebar ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}

.sidebar-item {
    display: flex; 
    align-items: center;
    padding: 10px 20px; 
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 15px;
    margin-bottom: 15px; 
    position: relative; 
    width: 190px;
    margin-left: 9px;
}

.menu-name {
    color: white; 
    text-decoration: none; 
    font-weight: 600; 
    z-index: 10; 
}

.sidebar-item:hover,
.sidebar-item.active {
    background-color: #ffffff; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
    width: 190px;
    margin-left: 9px;
}

.sidebar-item:hover .menu-name,
.sidebar-item.active .menu-name {
    color: #3B61CB; 
}

.sidebar-icon-default, .sidebar-icon-hover {
    width: 30px;   
    height: 30px;
    margin-right: 10px;
    object-fit: contain;
    transition: opacity 0.3s;
    flex-shrink: 0; 
}

.sidebar-icon-hover {
    position: absolute; 
    top: 50%;
    left: 20px; 
    transform: translateY(-50%);
    opacity: 0; 
}

.sidebar-item:hover .sidebar-icon-default,
.sidebar-item.active .sidebar-icon-default {
    opacity: 0; 
}

.sidebar-item:hover .sidebar-icon-hover,
.sidebar-item.active .sidebar-icon-hover {
    opacity: 1; 
}
